@font-face {
    font-family: 'Ranchers';
    src: url('../fonts/Ranchers-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'PasseroOne-Regular';
    src: url('../fonts/PasseroOne-Regular.ttf') format('truetype');
}